<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wenym.grooo"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="22" />

    <!-- Push service 运行需要的权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <android:uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:name=".GroooApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">

        <activity
            android:name=".ui.activities.SplashActivity"
            android:theme="@style/RestaurantListTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.GroooLoginActivity"
            android:label="@string/app_name"
            android:theme="@style/RestaurantListTheme" />
        <activity
            android:name=".ui.activities.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppBaseTheme" />
        <activity
            android:name=".ui.activities.RestaurantListActivity"
            android:label="@string/grooo_delivery"
            android:theme="@style/RestaurantListTheme" />
        <activity
            android:name=".ui.activities.LookOrderActivity"
            android:label="@string/my_order" />
        <activity android:name=".ui.activities.RestaurantDetailActivity" />
        <activity android:name=".ui.activities.WebViewActivity"></activity>
        <activity
            android:name=".ui.activities.UserInfoActivity"
            android:label="@string/set_myinfo"></activity>
        <activity
            android:name=".ui.activities.AboutActivity"
            android:label="@string/aboutus"></activity>
        <activity
            android:name=".ui.activities.ConfirmOrderActivity"
            android:label="@string/confirmpay"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activities.SuggestActivity"
            android:label="@string/activitylabel_suggest"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activities.MyFragmentActivity"
            android:windowSoftInputMode="adjustResize" />

    </application>

</manifest>
